<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row mt-5">

            <div class="row">
                <div class="col-md-3">
                    <a href="/tareas" class="btn btn-sm btn-primary mb-3">Regresar</a>

                </div>
            </div>
            <div class="cols mx-auto col-sm-9 col-md-6 col-lg-5 col-xl-4">
                <form id="formEditar" class="w-100 border rounded p-3" action="#" data-id="<%= id %>">
                    <h2 class="text-center">Editar Tarea</h2>
                    <hr>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                        <input type="text" value="" id="titulo" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-5">
                        <label for="exampleFormControlTextarea2" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" id="exampleFormControlTextarea2" rows="3">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-warning w-100">
                        Editar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script>
        // Referencia al formulario
        const formEditar = document.querySelector('#formEditar');
        const titulo = document.querySelector('#titulo');
        const descripcion = document.querySelector('#descripcion');

        // Funcion para obtener los datos de la tarea cuando se carga la página
        document.addEventListener('DOMContentLoaded', async () => {

            const response = await fetch(`http://localhost:4000/api/tarea/${formEditar.dataset.id}`)
            const data = await response.json();

            titulo.value = data.titulo;
            descripcion.value = data.descripcion;
        })


        // Escuchar el evento submit
        formEditar.addEventListener('submit', (e) => {
            e.preventDefault();

            // Se recupera el ID de la tarea que se va a editar
            const id = e.target.dataset.id;

            // Se crea un objeto con los datos del formulario
            const formData = {
                titulo: e.target.titulo.value,
                descripcion: e.target.descripcion.value,
            }

            // Se envia la peticion al servidor
            fetch(`http://localhost:4000/api/tarea/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(res => res.json())
                .then(data => {
                    console.log({ data });
                    alert(data.message);
                    setTimeout(() => {
                        window.location.href = '/tareas';
                    }, 1500);
                })
                .catch(err => console.log(err));
        });
    </script>
</body>

</html>